*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    user-select: none;
}
button{
    cursor: pointer;
}
body{
    overflow-x: hidden;
}

header{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 99;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 50px;
    font-size: 13pt;
}
.logo{
    font-size: 22pt;
}

nav a{
    color: black;
}
nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

main{
    min-height: 100dvh;
    display: flex;
    padding: 100px;
    justify-content: space-evenly;
    padding-top: 150px;
    gap: 70px;
    width: 100%;
}
article > span{
    color: rgb(0, 123, 255);
    font-weight: 500;
    font-size: 15pt;
}
article h1{
    font-size: 45pt;
}

h1 span{
    color: black;
}
main article:first-of-type{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

article div {
    display: flex;
    gap: 50px;
}

article button{
    width: 250px;
    padding: 8px;
    background-color: transparent;
    border: 2px solid;
    border-radius: 5px;
    font-size: 13pt;
    color: white;
    background-color: black;
}
.whiteBtn{
    background-color: white;
    color: black;
}

#sobre{
    min-height: 100dvh;
    padding: 100px;
    padding-top: 150px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}
#sobre article{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#sobre article:last-of-type{
    width: 50%;
}
#sobre h1{
    font-size: 18pt;
}

#sobre p{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#Skills{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: center;
}

#Skills aside{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}
.skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    align-items: center;
    justify-content: center;
}
aside h1{
    font-size: 18pt;
    margin-top: -50px;
}
.skill{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.desc{
    display: flex;
    justify-content: space-between;
}
.progressbar{
    position: relative;
    height: 10px;
    width: 100%;
    background-color: rgb(209, 209, 209);
    border-radius: 8px;
    overflow: hidden;
}
.progress{
    position: absolute;
    background-color:  rgb(0, 123, 255);
    height: 100%;
    width: 95%;
}

.mysql{
    width: 75%;
}
.node{
    width: 80%;
}
.react{
    width: 70%;
}
.css{
    width: 95%;
}
.js{
    width: 80%;
}
.projects{
    display: flex;
    gap: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.project{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
.project h2{
    color: rgb(0, 123, 255);
}

#contact{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
#contact article{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
}
#contact aside{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
#contact aside > div{
    display: flex;
    align-items: center;
    gap: 30px;
}
#contact aside > div i{
    background-color: rgb(0, 123, 255);
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    border-radius: 50%;
    font-size: 14pt;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#contact form div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}





div input{
    height: 40px;
    width: 300px;
    padding: 0px 8px;
    background-color: transparent;
    border: solid 0.5px;
    outline: none;
    border-radius: 4px;
}
textarea{
    height: 150px;
    border-radius: 4px;
    padding: 5px 8px;
    outline: none;
}
form button{
    width: 200px;
    border-radius: 50px;

}

#works{
    min-height: 100dvh;
    display: flex;
    padding: 5px;
    padding-top: 150px;
    gap: 10px;
    flex-direction: column;
    gap: 40px;
}
.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    

}
#works img{
    height: 250px;
    width: 100%;
    align-items: center;
}
figure{
    padding: 30px;
    background-color: rgba(245, 245, 245, 0.888);
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
}
figcaption{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

figcaption div{
    display:flex;
    width: 100%;
    gap: 15px;
}
figcaption button{
    padding: 5px;
    width: 125px;
    border: none;
    color: white;
    background-color: black;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 12pt;
}
.header button{
    padding: 8px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 13pt;
    border: none;
    border-radius: 5px;
    width: 200px;
}
.projectWork{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    gap: 20px;
}

footer{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px 100px;
}
footer a{
    color: black;
}
footer > div{
    display: flex;
    justify-content: center;
    gap: 50px;
}

h1{
    color: rgb(0, 123, 255);
    
}
footer i{
    font-size: 17pt;
}
footer div > div{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer > p{
    text-align: center;
}
footer ul{
    display: flex;
    flex-direction: column;
}
.inicial , .img , .img2 , .sobre, .html5, .reactJS , .Node , .MYSQL , .myInfo,.modal , .dev{
    visibility: hidden;
}


.hamburguer{
    z-index: 999;
    display: none;
    position: fixed;
    background-color:white;
    width: 100%;
    bottom: 0;
    height: 93dvh;
    justify-content: center;
    padding: 100px;
}
.visible{
    display: flex;
}
.hamburguer ul{
    list-style: none;
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hamburguer a{
    color: black;
    font-weight: 500;
}

.header{
    display: flex;
    padding: 50px;
}

#hambuguer{
    display: none;
    font-size: 18pt;
}
#mobileFooter{
    display: none;
}
/*tablet*/
@media (min-width: 768px) and (max-width: 1024px) {

    main{
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
        padding: 100px;
        justify-content: center;
        align-items: center;
        padding-top: 150px;
        gap: 70px;
        width: 100%;
    }
    main article:first-of-type{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        padding: 20px;
    }
    article div {
        display: flex;
        gap: 50px;
    }
    article h1{
        font-size: 30pt;
        display: flex;
        gap: 10px;
    }
    
    article button{
        width: 250px;
        padding: 8px;
        background-color: transparent;
        border: 2px solid;
        border-radius: 5px;
        font-size: 13pt;
        color: white;
        background-color: black;
    }
    article div {
        display: flex;
        gap: 20px;
    }

    #sobre{
        display: flex;
        flex-direction: column-reverse;
    }
    #sobre article:last-of-type{
        width: 100%;
    }
    .projectWork{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 20px;
        padding: 70px;
        
    }
    figure{
        padding: 20px;
        background-color: rgba(245, 245, 245, 0.888);
        display: flex;
        flex-direction: column;
        gap: 15px;
        cursor: pointer;
        width: 300px;
    }

    #Skills{
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
        padding: 100px;
        gap: 40px;
        justify-content: center;
    }
    
    #Skills aside{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }
    .skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 70px;
        align-items: center;
        justify-content: center;
    }
    aside h1{
        font-size: 20pt;
        margin-top: 0px;
    }
    .skill{
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }

    #contact article{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 50px;
    }

            
        #contact aside{
            display: flex;
            flex-direction: row;
            gap: 35px;
            align-items: center;
            justify-content: center;
        }
        
        #contact aside > div{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            justify-content: center;
            text-align: center;
        }
        #contact aside > div i{
            background-color: rgb(0, 123, 255);
            color: white;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            border-radius: 50%;
            font-size: 14pt;
        }


        footer{
            display: flex;
            flex-direction: column;
            gap: 80px;
            padding: 90px;
            margin-top: -200px;
        }
        footer > div{
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            column-gap: 100px;
        }
        footer div > div{
            display: flex;
        }
        nav ul{
            display: none;
        }
        #hambuguer{
            display: flex;
            font-size: 18pt;
            cursor: pointer;
        }
        
}


/*mobile*/
@media (max-width: 600px) {
    nav ul{
        display: none;
    }
    #hambuguer{
        display: flex;
        font-size: 18pt;
        cursor: pointer;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 20px 15px;
        font-size: 13pt;
    }
    main{
        padding: 10px;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    main article:first-of-type{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        padding: 20px;
    }
    article div {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    article h1{
        font-size: 25pt;
        display: flex;
        gap: 5px;
        word-wrap: break-word;
        flex-wrap: wrap;
    }
    article button{
        width: 100%;
        padding: 7px;
        font-size: 12pt;
    }
    main article:last-of-type{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    main img{
        height: 300px;
        width: 300px;
        align-items: center;
        justify-content: center;
    }

    #sobre{
        display: flex;
        padding-top: 150px;
        padding-bottom: 50px;
    }
    #sobre article:last-of-type{
        width: 100%;
    }
    #optional{
        display: none;
    }
    #Skills{
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
        padding: 40px;
        gap: 40px;
        justify-content: center;
    }
    
    #Skills aside{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }
    .skills{
        display: grid;
        grid-template-columns: 1fr;
        gap: 70px;
        align-items: center;
        justify-content: center;
    }
    aside h1{
        font-size: 20pt;
        margin-top: 0px;
    }
    .skill{
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }
    .projects{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .projectWork{
        display:flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        width: 100%;
        justify-content: center;
        
    }
    figure{
        padding: 20px;
        background-color: rgba(245, 245, 245, 0.888);
        display: flex;
        flex-direction: column;
        gap: 15px;
        cursor: pointer;
        width: 250px;
        overflow: hidden;
        padding: 5px;
    }
    figcaption div{
        display:flex;
        width: 100%;
        gap: 5px;
    }
    .header{
        display: flex;
        padding: 10px;
    }
    .header button{
        width: 150px;
    }
    .header h2{
        font-size: 15pt;
    }
    #contact{
        padding: 150px 10px;
    }

    #contact article{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 50px;
    }

            
    #contact aside{
            display: flex;
            flex-direction: column;
            gap: 35px;
            align-items: center;
            justify-content: center;
    }
        
    #contact aside > div{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            justify-content: center;
            text-align: center;
    }
    #contact aside > div i{
            background-color: rgb(0, 123, 255);
            color: white;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            border-radius: 50%;
            font-size: 14pt;
    }
    #contact form div{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    #contact button{
        border-radius: 0px;
        border: none;
    }
    
    figcaption button{
        padding: 3px;
        width: 115px;
        color: white;
        background-color: black;
        border: none;
        border-radius: 4px;
        gap: 5px;
        font-size: 11pt;
    }
    footer{
        display: flex;
        flex-direction: column;
        gap: 80px;
        width: 100%;
    }

    #defautFooter{
        display: none;
    }
    #mobileFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #footer-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }
    #social{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    footer ul{
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
    }
}
